* {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.project-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}



.card {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 5px 5px 10px rgb(179, 179, 179);

    background-color: rgb(252, 252, 252);

    display: flex;
    flex-direction: column;
}

.sub-title {
    width: 100%;
    height: 20%;

    /* background-color: green; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.gfg {
    color: rgb(0, 206, 110);
    font-size: 25px;
}

.header {
    width: 100%;
    height: 12%;
    margin-bottom: 5px;
    /* background-color: purple; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: 30px;
    color: rgb(0, 206, 110);
}

.minimum-container {
    width: 100%;
    height: 15%;
    /* background-color: wheat; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.minimum-container input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(212, 212, 212);
    text-align: center;
    padding-right: 5px;
    margin-left: 30px;
}

.maximum-container input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(212, 212, 212);
    text-align: center;
    padding-right: 5px;
    margin-left: 30px;
}


.maximum-container {
    width: 100%;
    height: 15%;
    /* background-color: brown; */

    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 18px;
}

.range-slider  {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.range-slider {
    position: relative;
}

.range-slider input {
    position: absolute;
    width: 90%;
    height: 5px;
    background: none;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: rgb(0, 206, 110);

}


input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #555;
    pointer-events: auto;
    -webkit-appearance: none;

}

input[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(0, 206, 110);
}